.task_button{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 20px 8px 0px;
gap: 10px;
color: #ffffff;
width: 170px;
height: 40px;
border:2px solid #0077D7;
background: #0077D7;
border-radius: 4px;
}
.task_list{
/* font-family: 'Inter', sans-serif; */
font-style: normal;
font-weight: 500;
font-size: 15px;
height: 20px;
/* margin: 6px;  */
margin: 12px 3px 10px 6px;
}
.category{
font-family: 'inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
/* line-height: 15px; */
color: #000000;
margin-top: 50px;
margin-left: 9px;
margin-bottom: 5px;
}
.matmenu{
background: #ffffff;
}

.mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.matbut{
    background: #ffffff;
    color:#000000; 
    /* border-bottom: 1px solid gray; */
    margin-right: 69px; 
}
.matbut:hover{
    background: #a29f9f1c;
    color:#000000; 
    /* border-bottom: 1px solid gray; */
}
.task_column{
    margin-top:20px;
}
.newtask_img{
    padding-left: 10px;
}
.newtask_text{
    font-size:14px;
}
.task_topics{
    text-align: left; 
    font-size: 12px; 
    padding-left: 5px;
    cursor: pointer;
}
.task_number{
    float:right; 
    display:inline; 
    font-size:12px;
}
.line_img{
    margin: 10px 0px 10px 10px;
}
.category_list{
    text-align: left; 
    font-size: 12px;
}
.mat_nav_list{
    padding: 0px !important;
}

